<a href="https://colab.research.google.com/github/Kyamzzz/GISMA/blob/main/Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression
You should build a machine learning pipeline using a linear regression model. In particular, you should do the following:
- Load the `housing` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a linear regression model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## Import Libraries

In [ ]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model

## Loading the Dataset

In [ ]:
df = pd.read_csv('housing.csv')
df = df.set_index("id")
df.head()

,price,area,bedrooms,bathrooms,stories,stories.1,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
id,,,,,,,,,,,,,
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1.0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1.0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0.5
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1.0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1.0

## Splitting the data into Training and Test set

In [ ]:
x = df.drop(["price"], axis=1)
y = df["price"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split (x, y)
print ("df:", df.shape)
print ("x_train:", x_train.shape)
print ("x_test:", x_test.shape)
print ("y_train:", y_train.shape)
print ("y_test:", y_test.shape)

df: (545, 13)
x_train: (408, 12)
x_test: (137, 12)
y_train: (408,)
y_test: (137,)

## Training the model

In [ ]:
model = sklearn.linear_model.LinearRegression()
model.fit(x_train, y_train)

NameError: ignored

## Testing the model

In [ ]:
y_predicted = model.predict(x_test)
y_predicted

array([ 3689570.78776238,  4830043.99784037,  4710967.86022995,
        6322879.3671489 ,  3522447.89387229,  2937734.63352861,
        4077418.73708859,  5023801.36133896,  7228585.54353   ,
        5266837.58734513,  2942248.72907828,  3724468.87243667,
        6309477.05267938,  5252498.94436077,  3071194.88889077,
        6722717.31680994,  3879428.37533446,  2544499.75699169,
       10598646.28108499,  5642604.56045832,  2752241.25833628,
        3984386.57977762,  3893573.11456144,  3824987.46310581,
        7107807.89033426,  6704856.65174145,  3079722.38209822,
        3522417.43756357,  5778931.09978164,  2636371.61703355,
        4907213.5590397 ,  6505037.24503268,  6171205.16183397,
        5012638.94541243,  6918730.5191644 ,  4798451.12904134,
        6042841.36855809,  2594374.81213008,  7496679.20633593,
        4575549.93647575,  3680048.08339942,  8452216.44891439,
        2775249.88065194,  3915733.2391367 ,  6241763.32616118,
        3837364.27825485,  7046901.45926941,  5038054.00336741,
        5199388.38078427,  3126370.97200856,  3692127.67407927,
        5951490.11335914,  5158776.38511518,  5791641.33458638,
        4096883.51509099,  3238206.86631987,  3288081.54836413,
        3958327.43859005,  3269269.30458114,  5374941.31009633,
        2663317.76202902,  6544136.68108859,  5141030.43967038,
        6974357.21146289,  5283114.52355514,  4804416.19401629,
        6362480.06343168,  5033191.69675047,  2853578.57606534,
        3146863.36757509,  3459276.77532314,  3621033.91182434,
        6785762.05182646,  3873941.41608705,  6555705.90389722,
        3359446.80278541,  4835355.22198626,  3223480.10107799,
        6226774.48049706,  5566659.60424789,  5939520.34109614,
        7648398.46021101,  6575872.58394239,  3229340.37188045,
        5415067.00778547,  5112746.5528923 ,  4638835.91787668,
        4128588.58324231,  6410014.42883783,  6860049.99349775,
        7820785.65166001,  3114504.96302359,  4904840.89815367,
        3850712.11521855,  4257945.81245786,  8200800.59314401,
        2375435.96976504,  3681828.55164661,  4277364.77826326,
        2624107.73336309,  3676984.54808246,  3596999.67389672,
        3021210.92105453,  3891853.03670111,  4806191.51514031,
        5603589.00745404,  5699771.87213611,  6507277.75971211,
        4187443.58516057,  2642054.97027525,  6373999.36628206,
        4010123.59443626,  4388968.68323406,  5374299.25211054,
        2939520.13479481,  4052322.41379766,  4838782.10913956,
        5790359.29393832,  5189051.5417873 ,  5276932.28812729,
        5051051.27261152,  3237832.0021868 ,  4850016.36540689,
        4267649.61003907,  3045924.31841033,  2788182.43228692,
        2817915.35351993,  7128540.81377546,  3756106.64841186,
        3906473.15718213,  5710090.59548624,  2813649.64336465,
        4378254.10658064,  4558272.90037028,  5997057.11588511,
        7185089.14425036,  2658504.23943689])