<a href="https://colab.research.google.com/github/Kyamzzz/GISMA/blob/main/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression
You should build a machine learning pipeline using a logistic regression model. In particular, you should do the following:
- Load the `mnist` dataset using [Pandas](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html). You can find this dataset in the datasets folder.
- Split the dataset into training and test sets using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html). 
- Train and test a logistic regression model using [Scikit-Learn](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html).
- Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

## Importing Libraries

In [9]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics

## Upload Dataset

In [6]:
df = pd.read_csv('mnist.csv')
df.drop (["id"], axis = 1)
df.head()

,id,class,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,31953,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,34452,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,60897,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,36953,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1981,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Splitting the Data

In [7]:
x = df.drop(["class"], axis=1)
y = df["class"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split (x, y)
print ("df:", df.shape)
print ("x_train:", x_train.shape)
print ("x_test:", x_test.shape)
print ("y_train:", y_train.shape)
print ("y_test:", y_test.shape)

df: (4000, 786)
x_train: (3000, 785)
x_test: (1000, 785)
y_train: (3000,)
y_test: (1000,)

## Training

In [8]:
model = sklearn.linear_model.LogisticRegression(max_iter = 10000)
model.fit(x_train, y_train)

LogisticRegression(max_iter=10000)

## Testing the Data

In [10]:
y_predicted = model.predict(x_test)
mse = sklearn.metrics.accuracy_score (y_test, y_predicted)
mse

0.863